# üõ†Ô∏è Definition Preprocessing
### Daten laden

In [1]:
# IMPORT LIBRRIES
import pandas as pd

# LOAD DATA
df = pd.read_csv("03_titanic_data.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

Nicht skalierte numerische Werte k√∂nnen in vielen maschinellen Lernalgorithmen zu Problemen f√ºhren, insbesondere bei Algorithmen, die auf Distanzen und/oder Gradienten(abstiegen) basieren. Hier sind einige spezifische Herausforderungen, die durch nicht skalierte Merkmale entstehen k√∂nnen:
Probleme durch nicht skalierte Werte

    Vergleichbarkeit der Merkmale:
        Ohne Skalierung k√∂nnen Merkmale mit gr√∂√üeren Wertebereichen die Algorithmen dominieren. Dies kann dazu f√ºhren, dass Merkmale mit kleinen Wertebereichen, die m√∂glicherweise ebenso wichtig sind, vernachl√§ssigt werden.
    Konvergenzgeschwindigkeit:
        Bei Modellen, die auf Gradientenabstieg basieren (wie lineare oder logistische Regression), kann die Konvergenz wesentlich langsamer sein, wenn die Merkmale unterschiedliche Skalierungen aufweisen. Nicht skalierte Merkmale bedingen unterschiedlich steile Gradienten, was die Modellanpassung beeintr√§chtigt.
    Effektivit√§t von Distanzbasierten Algorithmen:
        Algorithmen wie k-Nearest Neighbors oder k-Means Clustering basieren auf Entfernungsma√üen. Unterschiede in der Skalierung k√∂nnen dazu f√ºhren, dass die Ergebnisse fehlerhaft sind, da sich der Algorithmus zu stark auf die Merkmale mit gr√∂√üeren Skalen konzentriert.
    Numerische Stabilit√§t:
        Sehr gro√üe oder sehr kleine Werte k√∂nnen numerische Probleme in Algorithmen verursachen, die Matrixoperationen verwenden, wie z.B. Support Vector Machines und neuronale Netze.

L√∂sung: Feature Scaling
Um diese Probleme zu beheben, wendest du Techniken zur Skalierung von Features an:

    Min-Max-Skalierung: Skaliert die Features auf einen bestimmten Bereich (√ºblicherweise [0, 1]).
    python

from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaled_data = scaler.fit_transform(data)

Standardisierung (Z-Score-Normalisierung): Setzt die Merkmale in Bezug auf ihren Mittelwert bei 0 und die Standardabweichung bei 1.
python

    from sklearn.preprocessing import StandardScaler

    scaler = StandardScaler()
    standardized_data = scaler.fit_transform(data)

Beide Methoden haben ihre spezifischen Anwendungsf√§lle und Vorz√ºge, abh√§ngig von den Eigenschaften der Daten und den Anforderungen des verwendeten Algorithmus.

Mit Hilfe des Chatbots identifizeirt, dass:

1. Fehlende Werte behandelt werden sollte
Spalten mit fehlenden Werten: Age, Cabin, Embarked
- Age: Fehlende Werte k√∂nnten durch den Durchschnitt oder den Median der Altersangaben ersetzt werden.
- Cabin: Viele Werte fehlen in dieser Spalte. Du k√∂nntest entweder die gesamte Spalte weglassen oder nur den Buchstaben (f√ºr das Deck) extrahieren, sofern gen√ºgend Informationen vorhanden sind.
- Embarked: Fehlende Werte k√∂nnen mit dem h√§ufigsten Wert (Modus) aufgef√ºllt werden.

2. Umwandlung von Kategorien
- Sex: In numerische Werte umwandeln, z. B. male zu 1 und female zu 0.
- Embarked: In numerische Werte umwandeln (z. B. S zu 0, C zu 1, Q zu 2). Alternativ k√∂nnen One-Hot-Encoding oder dummies verwendet werden.

3. Normalisierung oder Standardisierung
Numerische Spalten: Age, Fare
- Die Standardisierung oder Normalisierung dieser Spalten kann die Modellentwicklung verbessern, insbesondere wenn unterschiedliche Skalen benutzt werden.

4. Feature Engineering
- Title aus Name extrahieren: M√∂glicherweise kannst du einen Titel aus dem Namen extrahieren, der zus√§tzliche Informationen liefert (z. B. Mr., Mrs., Miss.).
- Familiengr√∂√üe berechnen: Eine neue Spalte basierend auf SibSp (Anzahl der Geschwister/Ehepartner an Bord) und Parch (Anzahl der Eltern/Kinder an Bord), um die Gesamtfamiliengr√∂√üe zu berechnen: FamilySize = SibSp + Parch + 1.

5. Unwichtige Spalten entfernen
- PassengerId, Name, Ticket: Diese Spalten enthalten m√∂glicherweise keine n√ºtzlichen Informationen f√ºr die Modellentwicklung und k√∂nnten entfernt werden, es sei denn, sie werden beim Feature Engineering verwendet.