# ‚ùå Behandeln von fehlenden Werten
### Daten laden

In [3]:
# IMPORT LIBRRIES
import pandas as pd

# LOAD DATA
df = pd.read_csv("02_missing_data.csv")
df

             A           B         C     D           E
0    54.967142   83.420100  0.756989  30.0         NaN
1    48.617357   88.796379 -0.922165  81.0  237.872787
2    56.476885  114.945872       NaN  99.0  201.429839
3    65.230299  112.207405  1.355638   1.0  279.011629
4    47.658466   99.581968  0.413435  77.0  247.614673
..         ...         ...       ...   ...         ...
295  43.070904   89.799672  0.648710   NaN  207.102547
296  58.995999   94.602501 -0.167118  57.0  181.308630
297  53.072995   80.424726  0.146714  60.0  231.631065
298  58.128621   91.114135  1.206509  23.0  202.452670
299  56.296288  107.546010 -0.816936  19.0  188.464979

[300 rows x 5 columns]

### üîé Fehlende Werte finden

In [5]:
# NO OF MISSINGS
print(df.isnull().sum())

A    30
B    30
C    30
D    30
E    30
dtype: int64

### üóëÔ∏è Fehlende Werte entfernen

In [6]:
# DELETE ROWS
cleaned = df.dropna()
cleaned

             A           B         C     D           E
1    48.617357   88.796379 -0.922165  81.0  237.872787
3    65.230299  112.207405  1.355638   1.0  279.011629
4    47.658466   99.581968  0.413435  77.0  247.614673
7    57.674347   88.168572 -1.244655  11.0  203.830805
8    45.305256  110.941948 -1.778720  38.0  278.435451
..         ...         ...       ...   ...         ...
293  58.496021  106.673242  1.169296  93.0  215.084757
296  58.995999   94.602501 -0.167118  57.0  181.308630
297  53.072995   80.424726  0.146714  60.0  231.631065
298  58.128621   91.114135  1.206509  23.0  202.452670
299  56.296288  107.546010 -0.816936  19.0  188.464979

[181 rows x 5 columns]

### üîÅ Fehlende Werte ersetzen

In [7]:
# MISSING MIT MEAN ERSETZEN
imputed = df.fillna(df.mean(numeric_only=True))
imputed

             A           B         C          D           E
0    54.967142   83.420100  0.756989  30.000000  198.409801
1    48.617357   88.796379 -0.922165  81.000000  237.872787
2    56.476885  114.945872  0.096489  99.000000  201.429839
3    65.230299  112.207405  1.355638   1.000000  279.011629
4    47.658466   99.581968  0.413435  77.000000  247.614673
..         ...         ...       ...        ...         ...
295  43.070904   89.799672  0.648710  52.262963  207.102547
296  58.995999   94.602501 -0.167118  57.000000  181.308630
297  53.072995   80.424726  0.146714  60.000000  231.631065
298  58.128621   91.114135  1.206509  23.000000  202.452670
299  56.296288  107.546010 -0.816936  19.000000  188.464979

[300 rows x 5 columns]