# üî• One-Hot-Encoding
### Daten laden

In [1]:
# IMPORT LIBRARIES
import pandas as pd

# CREATE DATA
df = pd.DataFrame({
    'Farbe': ['rot', 'blau', 'gr√ºn', 'gelb']
})
df

  Farbe
0   rot
1  blau
2  gr√ºn
3  gelb

### üêº One-Hot-Encoding mit Pandas

In [7]:
# ONE-HOT-ENCODINGG
encoded = pd.get_dummies(df, columns=['Farbe'], dtype=int)
encoded

   Farbe_blau  Farbe_gelb  Farbe_gr√ºn  Farbe_rot
0           0           0           0          1
1           1           0           0          0
2           0           0           1          0
3           0           1           0          0

### üéì One-Hot-Encoding mit lediglich 2 Werten
Der Parameter <code>drop_first=True</code> bei **One-Hot-Encoding** entfernt die erste Kategorie jeder Spalte, um Redundanz zu vermeiden und Multikollinearit√§t in linearen Modellen zu reduzieren.

In [11]:
# CREATE DATA
# CREATE DATA
df = pd.DataFrame({
    'Sex': ['weiblich', 'm√§nnlich']
})

# ONE-HOT-ENCODING
encoded = pd.get_dummies(df, columns=['Sex'], dtype=int, drop_first=True)
encoded

   Sex_weiblich
0             1
1             0

### ‚úÖ Aufgabe
- Erstelle ein DataFrame mit einer Spalte Tier (["Hund", "Katze", "Maus", "Vogel"])
- Wandle die Spalte per <code>pd.get_dummies()</code> in One-Hot-Encoding um

In [10]:
# CREATE DATA
df = pd.DataFrame ({
    'Tier' : ["Hund", "Katze", "Maus", "Vogel"]
})

# ONE-HOT-ENCODINGG
encoded = pd.get_dummies(df, columns=['Tier'], dtype=int,)
encoded

   Tier_Hund  Tier_Katze  Tier_Maus  Tier_Vogel
0          1           0          0           0
1          0           1          0           0
2          0           0          1           0
3          0           0          0           1

## Bonus: Es macht bei mehr als zwei Parametern keinen Sinn drop_first=True zu nutzen, da es f√ºr Entweder-Oder-Szenarien ausgelegt ist.