# ‚òëÔ∏è Feature Selection

### Daten laden

In [1]:
# IMPORT LIBRARIES
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import math
from sklearn.feature_selection import f_regression as fr

# LOAD DATA
df = pd.read_csv('05_students.csv')
df

    Hours  sHours  hoursplayed  income  distance  calories  Marks
0       0       6            6     146         9      2491     34
1       1       7            2     112         5      2303     36
2       1       6            1      84         7      2475     33
3       1       8            5     134         0      2282     39
4       1       8            5     104         8      2359     42
5       2       8            4      80         1      2354     45
6       2       6            3      93         0      2943     38
7       3       6            3      83         7      2119     45
8       3       7            6     139         1      2511     53
9       3       7            5     138        10      2666     46
10      3       8            5      98         2      2934     56
11      4       8            1      90         0      2838     59
12      4       7            3     140         7      2102     55
13      4       7            6     144         3      2560     56
14      5       8            2     144         5      2068     72
15      5       6            2     119         6      2541     59
16      6       6            1     140         6      2690     62
17      6       7            1      85         3      2956     71
18      7       8            2     140         8      2239     78
19      7       8            6     107         0      2703     88
20      7       6            5      85         7      2603     61
21      7       6            3     109         0      2031     74
22      8       7            5     108         0      2885     71
23      8       8            1     150         8      2153     89
24      9       8            4     150         9      2384     82
25      9       5            5      84        10      2882     67
26      9       8            5     127         5      2271     89
27     10       8            6      95         6      2264     81
28     10       8            5      72         5      2522     82
29     11       7            3      89         3      2279     79

In [2]:
# FEATURES & TARGET
x = df.drop(['Marks'], axis=1)
y = df['Marks']

In [ ]:
# FEATURES & TARGET NACH F_REGRESSION
#x = df.drop(['Marks'], axis=1)
x = df.drop(['Marks', 'hoursplayed', 'income', 'distance', 'calories'], axis=1)
y = df['Marks']

### üí™ Training mit Linearer Regression

In [3]:
# INITIALIZE MODEL
lr = LinearRegression()

# SPLIT DATA
X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size=0.4, random_state=1234)
lr.fit(X_train, Y_train)

# MAKE PREDICTIONS
Y_predict = lr.predict(X_test)

### üßê Evaluate Predictions
Berechne die Kennzahlen **RMSE** und **R¬≤**.

In [4]:
# CALCULATE RMSE
rmse = math.sqrt(mean_squared_error(Y_test, Y_predict))
print(f"RMSE: {rmse:.2f}")

# CALUCALTE R¬≤
r2 = lr.score(X_test, Y_test)
print(f"R¬≤: {r2:.2f}")

RMSE: 6.98
R¬≤: 0.84

### Feature Selection
Feature mittels <code>f_regresion</code> ausw√§hlen.

In [5]:
# RESULT IST LISTE MIT JE 1 ARRAY MIT F-SCORE UND P-VALUE 
result = fr(x, y)
result

(array([1.41905913e+02, 4.57019756e+00, 1.44882087e-03, 1.59990513e-01,
        3.16606568e-03, 4.04208927e-01]),
 array([1.77038466e-12, 4.14028344e-02, 9.69907241e-01, 6.92200477e-01,
        9.55528076e-01, 5.30086171e-01]))

In [6]:
# CONVERT TO DATAFRAME: SPALTE F-SCORE und P-VALUE
df = pd.DataFrame({'f_score': result[0], 'p_value': result[1]})
df['f_score'] = df['f_score'].map('{:4.2f}'.format)
df['p_value'] = df['p_value'].map('{:2.6f}'.format)
df

  f_score   p_value
0  141.91  0.000000
1    4.57  0.041403
2    0.00  0.969907
3    0.16  0.692200
4    0.00  0.955528
5    0.40  0.530086

In [7]:
# SPALTENNAMEN HINZUF√úGEN
columns = list(x.columns)
df['feature'] = columns
df

  f_score   p_value      feature
0  141.91  0.000000        Hours
1    4.57  0.041403       sHours
2    0.00  0.969907  hoursplayed
3    0.16  0.692200       income
4    0.00  0.955528     distance
5    0.40  0.530086     calories