# üí™ Train Modell Data
### Insurance Daten laden

In [2]:
# IMPORT LIBRARIES
import pandas as pd
from sklearn.model_selection import train_test_split

# LOAD DATA
df = pd.read_csv("03_insurance_data.csv")
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

### üêº One-Hot-Encoding mit Pandas

In [6]:
# ONE-HOT-ENCODING
df_encoded = pd.get_dummies(df, columns=['sex', 'smoker', 'region'], dtype=int)
df_encoded

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,1,0,0,1,0,0,0,1
1,18,33.770,1,1725.55230,0,1,1,0,0,0,1,0
2,28,33.000,3,4449.46200,0,1,1,0,0,0,1,0
3,33,22.705,0,21984.47061,0,1,1,0,0,1,0,0
4,32,28.880,0,3866.85520,0,1,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1333,50,30.970,3,10600.54830,0,1,1,0,0,1,0,0
1334,18,31.920,0,2205.98080,1,0,1,0,1,0,0,0
1335,18,36.850,0,1629.83350,1,0,1,0,0,0,1,0
1336,21,25.800,0,2007.94500,1,0,1,0,0,0,0,1
1337,61,29.070,0,29141.36030,1,0,0,1,0,1,0,0

In [7]:
# FEATURES & TARGET
X = df_encoded.drop(['charges'], axis=1)
Y = df_encoded['charges']

### ‚úÇÔ∏è Insurance Daten aufteilen
Daten splitten in 70% Training und 30% Testdaten.

In [8]:
# DATEN IN TRAIN UND TEST SPLITTEN
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=1234)

### üèãüèª‚Äç‚ôÇÔ∏è Modell trainieren
Das ML-Modell mit einem Algorithmus deiner Wahl trainieren, um Vorhersagen treffen zu k√∂nnen.

In [9]:
# IMPORT LIBRARIES
from sklearn.linear_model import LinearRegression

# LINEAR REGRESSION ERSTELLEN
lr = LinearRegression()

# MODELL TRAINIEREN
lr.fit(X_train, Y_train)

# PREDICTIONS MACHEN
Y_pred_lr = lr.predict(X_test)

In [10]:
# IMPORT LIBRARIES
from sklearn.neighbors import KNeighborsRegressor

# KNEIGHBORS REGRESSOR ERSTELLEN
nr = KNeighborsRegressor()

# MODELL TRAINIEREN
nr.fit(X_train, Y_train)

# PREDICTIONS MACHEN
Y_pred_nr = nr.predict(X_test)

### ‚öñÔ∏è Vorhersagen vergleichen

In [12]:
# VERGLEICH DER VORHERGESAGTEN WERTE
comparison_df = pd.DataFrame ({
    'Original' : Y_test,
    'Linear Regression' : Y_pred_lr,
    'KNeighbors Regressor' : Y_pred_nr
}, index=X_test.index)
comparison_df

         Original  Linear Regression  KNeighbors Regressor
395    7526.70645        5844.020117           8123.868030
809    3309.79260        3700.136482           4683.835964
324    2866.09100        3791.182716           3626.683730
237    4463.20510        8555.214321          11670.287340
1132  20709.02034       15840.010671          11067.105510
...           ...                ...                   ...
111   11881.35800       12395.618539          11325.815180
402   14692.66935       15006.222924          20803.940430
885   19719.69470       30035.407962           4263.140740
1096  44641.19740       38669.672190          17263.892400
363    2597.77900        2473.497912           5202.083850

[402 rows x 3 columns]