# âœ… Feature Selection mit Chi-Squared
### Create Data

In [1]:
# IMPORT LIBRARIES
import pandas as pd
from scipy.stats import chi2_contingency

In [2]:
# CREATE SYNTHETIC DATA
# CREATE SYNTHETIC DATA
df = pd.DataFrame({
    'Fatalities': ['Eins', 'Zwei', 'Mehrere'],
    'Start': [19, 11, 4],
    'Flug': [39, 21, 11],
    'Landung': [19, 6, 8]
})

df

  Fatalities  Start  Flug  Landung
0       Eins     19    39       19
1       Zwei     11    21        6
2    Mehrere      4    11        8

In [3]:
# CALCLUATE CHI2
chi2, p, dof, expected = chi2_contingency(df.set_index('Fatalities'))

In [4]:
print(f"Chi2: {chi2}\nDOF: {dof}")
print(f"p-Wert: {p}")

Chi2: 3.1561563171727958
DOF: 4
p-Wert: 0.532041419216341