# ‚ùå √úbungsaufgabe Python Vertiefung ML
### 1. üì• Import
Lade folgende Daten <code>04_kunden_daten.csv</code> und pr√ºfe auf fehlende Werte.

In [2]:
# IMPORT LIBRARIES
import pandas as pd
from sklearn.model_selection import train_test_split

# LOAD DATA
df = pd.read_csv("04_kunden_daten.csv")
df

    Alter  Einkommen           Bildung  Kaufkraft
0      56   21864.85  Berufsausbildung    2292.91
1      69   29498.27            Abitur    3122.98
2      46   59544.58            Abitur    3046.57
3      32   36399.19  Berufsausbildung    2085.62
4      60   57140.64        Hochschule    3286.23
..    ...        ...               ...        ...
95     42   50984.74  Berufsausbildung    2605.60
96     62   67538.11            Abitur    2528.51
97     58   63099.75  Berufsausbildung    3679.68
98     46   53084.75  Berufsausbildung    3285.61
99     32   28347.75            Abitur    2445.67

[100 rows x 4 columns]

### 2. üîé Fehlende Werte finden
Wie viele fehlen in jeder Spalte? Ersetze diese mit dem Median und Mode.

In [3]:
# MISSING VALUES
print(df.isnull().sum())

Alter        0
Einkommen    5
Bildung      3
Kaufkraft    0
dtype: int64

In [14]:
# REPLACE MEDIAN
df_ek = df.fillna(df.mean(numeric_only=True))
mode_bildung = df['Bildung'].mode()[0]
df_bi = df_ek.copy()
df_bi['Bildung'] = df_bi['Bildung'].fillna(mode_bildung)
df_bi

    Alter  Einkommen           Bildung  Kaufkraft
0      56   21864.85  Berufsausbildung    2292.91
1      69   29498.27            Abitur    3122.98
2      46   59544.58            Abitur    3046.57
3      32   36399.19  Berufsausbildung    2085.62
4      60   57140.64        Hochschule    3286.23
..    ...        ...               ...        ...
95     42   50984.74  Berufsausbildung    2605.60
96     62   67538.11            Abitur    2528.51
97     58   63099.75  Berufsausbildung    3679.68
98     46   53084.75  Berufsausbildung    3285.61
99     32   28347.75            Abitur    2445.67

[100 rows x 4 columns]

### 3. üî• One-Hot-Encoding
Wandle kategorische Spalten in numerische Spalten um.

In [17]:
# ONE-HOT-ENCODING
df_encoded = pd.get_dummies(df_bi, columns=['Bildung'], dtype=int)
df_encoded

,Alter,Einkommen,Kaufkraft,Bildung_Abitur,Bildung_Berufsausbildung,Bildung_Hochschule
0,56,21864.85,2292.91,0,1,0
1,69,29498.27,3122.98,1,0,0
2,46,59544.58,3046.57,1,0,0
3,32,36399.19,2085.62,0,1,0
4,60,57140.64,3286.23,0,0,1
...,...,...,...,...,...,...
95,42,50984.74,2605.60,0,1,0
96,62,67538.11,2528.51,1,0,0
97,58,63099.75,3679.68,0,1,0
98,46,53084.75,3285.61,0,1,0
99,32,28347.75,2445.67,1,0,0

### ‚úÇÔ∏è 4. Split 
Teile die Daten in 80% Training und 20% Testdaten auf.

In [18]:
# FEATRUES UND TARGET
X = df_encoded.drop(['Kaufkraft'], axis=1)
Y = df_encoded['Kaufkraft']

# SPLIT DER DATEN
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=1234)

### üí™ 5. Training
Trainiere ein <code>LinearRegression</code> und ein <code>KNeighborsRegressor</code> Modell.

In [19]:
# TRAIN MODEL LINEAR REGRESSION
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(X_train, Y_train)


# TRAIN MODEL KNEIGHBORS REGRESSOR
from sklearn.neighbors import KNeighborsRegressor

nr = KNeighborsRegressor()
nr.fit(X_train, Y_train)


# PREDICTIONS
Y_pred_lr = lr.predict(X_test)
Y_pred_nr = nr.predict(X_test)

### üßÆ 6. Kennzahlen 
Berechne f√ºr beide Modelle: MSE, RMSE, MAE, R¬≤.

In [21]:
# CALCLUATE METRICS LR
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
import numpy as np

mse_lr = mean_squared_error(Y_test, Y_pred_lr)
rmse_lr = np.sqrt(mse_lr)
mae_lr = mean_absolute_error(Y_test, Y_pred_lr)
r2_lr = r2_score (Y_test, Y_pred_lr)

# CALCLUATE METRICS NR
mse_nr = mean_squared_error(Y_test, Y_pred_nr)
rmse_nr = np.sqrt(mse_nr)
mae_nr = mean_absolute_error(Y_test, Y_pred_nr)
r2_nr = r2_score (Y_test, Y_pred_nr)

In [26]:
# OUTPUT PREDICTIONS
comparison_df = pd.DataFrame ({
    'Original' : Y_test,
    'Linear Regression' : Y_pred_lr,
    'KNeighbors Regressor' : Y_pred_nr
}, index=X_test.index)
comparison_df

    Original  Linear Regression  KNeighbors Regressor
40   1379.89        2918.775937              3374.224
35   3173.17        3160.030396              3293.848
81   2519.83        3167.448451              2845.738
61   2433.86        3124.977277              2681.932
98   3285.61        2889.059312              3521.630
68   2797.95        3142.398673              3375.292
85   3529.70        3141.302726              3304.226
27   1709.83        3099.283039              3448.664
39   3507.14        3139.123120              3072.904
42   2470.57        3095.567310              2878.074
33   3543.68        2906.026093              3366.616
59   2612.61        3114.953241              2704.592
63   3619.71        3185.979638              3364.438
94   2833.50        3188.205417              2726.180
56   4697.72        3132.755566              3457.238
87   2009.75        3101.999959              2308.426
96   2528.51        3149.940955              2726.182
1    3122.98        3079.281448              2952.954
71   1855.89        3096.759016              3437.632
82   3055.84        2877.435525              3293.848

In [22]:
# OUTPUT METRICS
print(f"MSE LR: {mse_lr:.2f}")
print(f"MSE NR: {mse_nr:.2f}")

print(f"RMSE LR: {rmse_lr:.2f}")
print(f"RMSE NR: {rmse_nr:.2f}")

print(f"MAE LR: {mae_lr:.2f}")
print(f"MAE NR: {mae_nr:.2f}")

print(f"R¬≤ LR: {r2_lr:.2f}")
print(f"R¬≤ NR: {r2_nr:.2f}")

MSE LR: 636173.29
MSE NR: 617437.71
RMSE LR: 797.60
RMSE NR: 785.77
MAE LR: 653.63
MAE NR: 533.33
R¬≤ LR: -0.10
R¬≤ NR: -0.07

### üåü BONUS
Was bedeutet ein negativer R¬≤ Wert?

Ein negativer ( R^2 )-Wert ist ein Hinweis darauf, dass das Modell nicht gut funktioniert und √ºberarbeitet werden muss. Es bietet eine Gelegenheit, die Leistung des Modells zu analysieren und m√∂gliche Verbesserungen zu identifizieren.