# 00 Preparation
Laden der f√ºr die Bearbeitung notwendigen Bibliotheken üìö.

In [1]:
# IMPORT LIBRARIES
import pandas as pd
from imblearn.over_sampling import SMOTE

# 01 Load Data
Laden des Dataset üè¶.

In [2]:
# LOAD DATA
df = pd.read_csv('02_loan_data.csv')

In [3]:
# VERTEILUNG DER WERTE IN ZIELSPALTE VOR SMOTE
df['Loan_Status'].value_counts()

Loan_Status
Y    89
N    11
Name: count, dtype: int64

# 02 SMOTE Anwenden
Mittels <code>SMOTE</code> Synthetic Minority Over-sampling Technique die Anzahl an nicht-genehmigten Darlehen in dem Dataset erh√∂hen, um es ausgeglichener ‚öñÔ∏è zu machen.

In [4]:
# TRENNEN FEATURES UND ZIELVARIABLE
X = df.drop('Loan_Status', axis=1)
Y = df['Loan_Status']

In [5]:
# NEUES SMOTE OBJEKT ERSTELLEN, UM ANZAHL ABGELEHNTER UND GENEHMIGTER DARLEHEN AUSZUGLEICHEN
smote = SMOTE(sampling_strategy='auto', random_state=1234)

# SMOTE ANWENDEN
X_resampled, Y_resampled = smote.fit_resample(X, Y)

In [6]:
# SYNTHETISCHE FEATURES UND SYNTHEISCHE ZIELVARIABLE WIEDER ZUSAMMENF√úGEN
df_resampled = pd.concat([pd.DataFrame(X_resampled, columns=X.columns), pd.DataFrame(Y_resampled, columns=['Loan_Status'])], axis=1)
df_resampled

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,0.000000,1,0,1,1.000000,5849,0,134.221053,360.000000,1.000000,1,Y
1,0.000000,0,1,1,1.000000,4583,1508,128.000000,360.000000,1.000000,2,Y
2,0.000000,0,0,1,0.000000,3000,0,66.000000,360.000000,1.000000,1,Y
3,0.000000,0,0,0,1.000000,2583,2358,120.000000,360.000000,1.000000,1,Y
4,0.000000,1,0,1,1.000000,6000,0,141.000000,360.000000,1.000000,1,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
173,0.171068,1,0,1,1.000000,3832,0,112.828932,459.471833,1.000000,0,N
174,0.000000,0,1,0,1.000000,6260,0,124.135197,355.290019,0.742846,0,N
175,0.000000,0,0,0,0.542966,3020,2770,148.711012,277.733926,0.542966,2,N
176,0.079103,0,0,1,1.000000,2018,1224,100.949240,343.133051,0.079103,0,N
177,0.000000,1,0,1,0.626953,4101,0,110.388674,435.234409,1.000000,1,N

# 03 √úberpr√ºfen der Verteilung
√úberpr√ºfen, ob sich das Verh√§tnis der Daten nach Anwendung von SMOTE ver√§ndert hat ü§î.

In [7]:
# VERTEILUNG DER WERTE IN ZIELSPALTE NACH SMOTE
df_resampled['Loan_Status'].value_counts()

Loan_Status
Y    89
N    89
Name: count, dtype: int64

# 04 BONUS: Explizite Angabe 
Explizit Angabe ‚≠ï, wie viele Datens√§tze SMOTE von jeder Klasse jeweils erzeugen soll.

In [8]:
# NEUES SMOTE OBJEKT ERSTELLEN, UM ANZAHL ABGELEHNTER UND GENEHMIGTER DARLEHEN AUSZUGLEICHEN
smote = SMOTE(sampling_strategy={'N': 100, 'Y': 250}, random_state=1234)


# SMOTE ANWENDEN
X_resampled, Y_resampled = smote.fit_resample(X, Y)

# SYNTHETISCHE FEATURES UND SYNTHEISCHE ZIELVARIABLE WIEDER ZUSAMMENF√úGEN
df_resampled = pd.concat([pd.DataFrame(X_resampled, columns=X.columns), pd.DataFrame(Y_resampled, columns=['Loan_Status'])], axis=1)


# VERTEILUNG DER WERTE IN ZIELSPALTE NACH SMOTE
df_resampled['Loan_Status'].value_counts()

Loan_Status
Y    250
N    100
Name: count, dtype: int64