# 00 Preparation
Laden der f√ºr die Bearbeitung notwendigen Bibliotheken üìö.

In [1]:
# IMPORT LIBRARIES
import pandas as pd

# 01 Load Data
Laden des Dataset üë®‚Äçüç≥:

In [2]:
# LOAD DATA
df = pd.read_csv("10_restaurant_data.csv")
df

,userID,latitude,longitude,smoker,drink_level,dress_preference,ambience,transport,marital_status,hijos,birth_year,interest,personality,religion,activity,color,weight,budget,height
0,U1001,22.139997,-100.978803,False,abstemious,informal,family,on foot,single,independent,1989.0,variety,thrifty-protector,none,student,black,69,medium,1.77
1,U1002,22.150087,-100.983325,False,abstemious,informal,family,public,single,independent,1990.0,technology,hunter-ostentatious,Catholic,student,red,40,low,1.87
2,U1003,22.119847,-100.946527,False,social drinker,formal,family,public,single,independent,1989.0,none,hard-worker,Catholic,student,blue,60,low,1.69
3,U1004,18.867000,-99.183000,False,abstemious,informal,family,public,single,independent,1940.0,variety,hard-worker,none,professional,green,44,medium,1.53
4,U1005,22.183477,-100.959891,False,abstemious,no preference,family,public,single,independent,1992.0,none,thrifty-protector,Catholic,student,black,65,medium,1.69
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,U1134,22.149654,-100.998610,False,casual drinker,no preference,family,public,single,independent,1991.0,variety,hard-worker,Catholic,student,black,52,medium,1.65
134,U1135,22.170396,-100.949936,False,casual drinker,informal,family,on foot,single,kids,1988.0,variety,hunter-ostentatious,Catholic,student,purple,66,low,1.54
135,U1136,22.149607,-100.997235,True,social drinker,no preference,friends,car owner,single,independent,1990.0,retro,thrifty-protector,Catholic,student,black,50,low,1.60
136,U1137,22.144803,-100.944623,False,social drinker,formal,family,public,single,independent,1989.0,eco-friendly,hard-worker,Catholic,student,blue,72,low,1.78
137,U1138,22.152884,-100.939663,False,social drinker,formal,friends,public,single,independent,1991.0,variety,thrifty-protector,none,student,blue,54,medium,1.55

# 02 Fehlende Werte
Existieren **fehlende Werte** in dem Dataset? Falls ja und √ºbersteigen diese die Anzahl von 10, entferne üóë diese Spalten.

In [3]:
# ALLE SPALTEN MIT FEHLENDEN WERTEN FINDEN
missing = df.isnull().sum()
missing

userID               0
latitude             0
longitude            0
smoker               3
drink_level          0
dress_preference     5
ambience             6
transport            7
marital_status       4
hijos               11
birth_year           3
interest             0
personality          0
religion             0
activity             7
color                0
weight               0
budget               7
height               0
dtype: int64

In [14]:
# KOPIE ANFERTIGEN
df_delete = df.copy()

# ZEILEN MIT FEHLENDEN WERTEN L√ñSCHEN
df_delete.dropna(thresh=len(df_delete) - 10, axis=1)

# MODE F√úR RESTLICHE SPALTEN
for column in df_delete.select_dtypes(include=['object']).columns:
    if df_delete[column].isnull().sum() > 0:  # Pr√ºfen, ob fehlende Werte vorhanden sind
        modus_wert = df_delete[column].mode()[0]
        df_delete[column] = df_delete[column].fillna(modus_wert)

df_delete = df_delete.infer_objects()

# MEAN F√úR RESTLICHE SPALTEN
for column in df_delete.select_dtypes(include=['number']).columns:
    if df_delete[column].isnull().sum() > 0:  # √úberpr√ºfen, ob fehlende Werte vorhanden sind
        mean_wert = df_delete[column].mean()
        df_delete[column] = df_delete[column].fillna(mean_wert)

print("√úberpr√ºfen auf fehlende Werte:")
print(df_delete.isnull().sum())

√úberpr√ºfen auf fehlende Werte:
userID              0
latitude            0
longitude           0
smoker              0
drink_level         0
dress_preference    0
ambience            0
transport           0
marital_status      0
hijos               0
birth_year          0
interest            0
personality         0
religion            0
activity            0
color               0
weight              0
budget              0
height              0
dtype: int64

C:\Users\Marco\AppData\Local\Temp\ipykernel_16724\3635461375.py:11: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_delete[column] = df_delete[column].fillna(modus_wert)