# 00 Preparation
Laden der f√ºr die Bearbeitung notwendigen Bibliotheken üìö.

In [2]:
# IMPORT LIBRARIES
import pandas as pd

# 01 Load Data
Laden des Dataset ‚úàÔ∏è:
- **Year:** The year of the data.
- **Month:** The month of the data.
- **DayOfMonth:** The day of the data.
- **DayOfWeek:** The day of the data.
- **Carrier:** Carrier code.
- **OriginAirportID:** Origin Airport Code.
- **DestAirportID:** Destination Airport Code.
- **CRSDepTime:** Current Departure Time.
- **DepDelay:** Total departure delay.
- **DepDel15:** Departure Delay greater than 15 minutes.
- **CRSArrTime:** Current Arrival Time.
- **ArrDelay:** Total arrival delay.
- **ArrDel15:** Arrival Delay greater than 15 minutes.
- **Cancelled:** Flight cancelled.

In [3]:
# LOAD DATA
df = pd.read_csv("10_flight_delays_data.csv")
df

,Year,Month,DayofMonth,DayOfWeek,Carrier,OriginAirportID,DestAirportID,CRSDepTime,DepDelay,DepDel15,CRSArrTime,ArrDelay,ArrDel15,Cancelled
0,2013,4,19,5,DL,11433,13303,837,-3.0,0.0,1138,1.0,0,0
1,2013,4,19,5,DL,14869,12478,1705,0.0,0.0,2336,-8.0,0,0
2,2013,4,19,5,DL,14057,14869,600,-4.0,0.0,851,-15.0,0,0
3,2013,4,19,5,DL,15016,11433,1630,28.0,1.0,1903,24.0,1,0
4,2013,4,19,5,DL,11193,12892,1615,-6.0,0.0,1805,-11.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2719413,2013,10,19,6,DL,13204,14869,730,1.0,0.0,1013,-3.0,0,0
2719414,2013,10,19,6,DL,10397,13495,944,-2.0,0.0,1018,-3.0,0,0
2719415,2013,10,19,6,DL,10140,10397,1312,18.0,1.0,1807,9.0,0,0
2719416,2013,10,19,6,DL,10397,13244,1735,10.0,0.0,1757,7.0,0,0
2719417,2013,10,19,6,DL,10397,13487,1200,0.0,0.0,1337,-13.0,0,0

# 02 Sample Ziehen
Ziehe eine zuf√§llige **Stichprobe** üß™ von 20% der Daten.

In [6]:
# SAMPLE RANDOM 5% AUSW√ÑHLEN
df_sample = df.sample(frac=0.05, random_state=1)
df_sample

,Year,Month,DayofMonth,DayOfWeek,Carrier,OriginAirportID,DestAirportID,CRSDepTime,DepDelay,DepDel15,CRSArrTime,ArrDelay,ArrDel15,Cancelled
1003921,2013,6,2,7,WN,14730,13232,1105,-2.0,0.0,1110,-4.0,0,0
722372,2013,5,29,3,UA,14771,12892,1127,-1.0,0.0,1300,-1.0,0,0
1802757,2013,8,20,2,YV,13871,11057,1324,0.0,0.0,1655,0.0,0,0
19882,2013,4,29,1,DL,13487,10721,1920,13.0,0.0,2301,12.0,0,0
665226,2013,5,30,4,WN,12889,11292,1355,35.0,1.0,1650,19.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282757,2013,4,30,2,WN,14679,15376,820,0.0,0.0,930,-5.0,0,0
1740245,2013,8,9,5,WN,15016,13342,835,1.0,0.0,940,-2.0,0,0
1135037,2013,6,30,7,EV,11618,11433,600,30.0,1.0,751,10.0,0,0
1727022,2013,8,7,3,WN,12889,14831,1710,22.0,1.0,1830,24.0,1,0
569894,2013,5,24,5,US,11057,11618,1150,128.0,1.0,1349,136.0,1,0

# 02 Fehlende Werte
Existieren **fehlende Werte** in dem Dataset? Falls ja, entferne üóë diese Zeilen.

In [7]:
# ALLE SPALTEN MIT FEHLENDEN WERTEN FINDEN
missing = df.isnull().sum()
missing

Year                   0
Month                  0
DayofMonth             0
DayOfWeek              0
Carrier                0
OriginAirportID        0
DestAirportID          0
CRSDepTime             0
DepDelay           27444
DepDel15           27444
CRSArrTime             0
ArrDelay           29033
ArrDel15               0
Cancelled              0
dtype: int64

In [8]:
# KOPIE ANFERTIGEN
df_delete = df.copy()

# ZEILEN MIT FEHLENDEN WERTEN L√ñSCHEN
df_delete.dropna(inplace=True)
df_delete

,Year,Month,DayofMonth,DayOfWeek,Carrier,OriginAirportID,DestAirportID,CRSDepTime,DepDelay,DepDel15,CRSArrTime,ArrDelay,ArrDel15,Cancelled
0,2013,4,19,5,DL,11433,13303,837,-3.0,0.0,1138,1.0,0,0
1,2013,4,19,5,DL,14869,12478,1705,0.0,0.0,2336,-8.0,0,0
2,2013,4,19,5,DL,14057,14869,600,-4.0,0.0,851,-15.0,0,0
3,2013,4,19,5,DL,15016,11433,1630,28.0,1.0,1903,24.0,1,0
4,2013,4,19,5,DL,11193,12892,1615,-6.0,0.0,1805,-11.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2719413,2013,10,19,6,DL,13204,14869,730,1.0,0.0,1013,-3.0,0,0
2719414,2013,10,19,6,DL,10397,13495,944,-2.0,0.0,1018,-3.0,0,0
2719415,2013,10,19,6,DL,10140,10397,1312,18.0,1.0,1807,9.0,0,0
2719416,2013,10,19,6,DL,10397,13244,1735,10.0,0.0,1757,7.0,0,0
2719417,2013,10,19,6,DL,10397,13487,1200,0.0,0.0,1337,-13.0,0,0

# 03 Daten Transformatieren
Lege eine neue Spalte **DelayCategory** üÜï auf Basis der Versp√§tungen (ArrDelay) an.
Lege eine neue Spalte **Wochentag** üÜï auf Basis der Versp√§tungen (DayOfWeek) an.

In [26]:
# NAMEN F√úR KATEGORIEN VERGEBEN

def categorize_delay(delay):
    if delay < 15:
        return "On Time"
    elif 15 <= delay < 60:
        return "Delay"
    elif 60 <= delay < 360:
        return "Long Delay"
    else:
        return "Extreme Delay"


df_delete['delay_category'] = df_delete['ArrDelay'].apply(categorize_delay)

def categorize_dow(dow):
    if dow < 6:
        return "Weekday"
    else:
        return "Weekend"
        
df_delete['Wochentag'] = df_delete['DayOfWeek'].apply(categorize_dow)        

df_delete

,Year,Month,DayofMonth,DayOfWeek,Carrier,OriginAirportID,DestAirportID,CRSDepTime,DepDelay,DepDel15,CRSArrTime,ArrDelay,ArrDel15,Cancelled,delay_category,Wochentag
0,2013,4,19,5,DL,11433,13303,837,-3.0,0.0,1138,1.0,0,0,On Time,Weekday
1,2013,4,19,5,DL,14869,12478,1705,0.0,0.0,2336,-8.0,0,0,On Time,Weekday
2,2013,4,19,5,DL,14057,14869,600,-4.0,0.0,851,-15.0,0,0,On Time,Weekday
3,2013,4,19,5,DL,15016,11433,1630,28.0,1.0,1903,24.0,1,0,Delay,Weekday
4,2013,4,19,5,DL,11193,12892,1615,-6.0,0.0,1805,-11.0,0,0,On Time,Weekday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2719413,2013,10,19,6,DL,13204,14869,730,1.0,0.0,1013,-3.0,0,0,On Time,Weekend
2719414,2013,10,19,6,DL,10397,13495,944,-2.0,0.0,1018,-3.0,0,0,On Time,Weekend
2719415,2013,10,19,6,DL,10140,10397,1312,18.0,1.0,1807,9.0,0,0,On Time,Weekend
2719416,2013,10,19,6,DL,10397,13244,1735,10.0,0.0,1757,7.0,0,0,On Time,Weekend
2719417,2013,10,19,6,DL,10397,13487,1200,0.0,0.0,1337,-13.0,0,0,On Time,Weekend

# 04 Split Data
Aufteilen der Daten ‚úÇÔ∏è in ein Trainings- und Testdatenset.

In [27]:
# SPLIT in 70% TRAIN und 30% TEST
from sklearn.model_selection import train_test_split

train_df, test_df = train_test_split(df_delete, test_size=0.3, random_state=123)